<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <!--My database connection string. -->
    <!--<add name="AppConnect" connectionString="Data Source=DaeerPC\MYSQLDB;Initial Catalog=App4Learn;Persist Security Info=True;User ID=AppAccess;Password=@ppAcc355;" providerName="System.Data.SqlClient" />-->
    <add name="AppConnect" connectionString="Data Source=B3VZJY1;Initial Catalog=App4Learn;Persist Security Info=True;User ID=AppAccess;Password=@ppAcc355;" providerName="System.Data.SqlClient" />
    <!--Amber's database connection string. -->
    <!--<add name="AppConnect" connectionString="Data Source=JIM-KIRK\MYSQLDB;Initial Catalog=App4Learn;Persist Security Info=True;User ID=AppAccess;Password=@ppAcc355;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AppConnect" connectionString="Data Source=JIM-KIRK\MYSQLDB;Database=App4Learn;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>