<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.38" targetFramework="net451" />
  <package id="DapperWrapper" version="0.3.0.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net451" />
  <package id="Regextra" version="0.3.0.0" targetFramework="net451" />
</packages>